* {
    margin: 5;
    padding: 0;
}

body {
    background-image: url(../Proyecto-MicaelaRoelofs/images/fondo.jpg);
    background-size: cover;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #b2ffff;

        .navbar {
            background-color: #b2ffff;
            top: 0;
        }

    @media only screen and (min-width: 320px) and (max-width: 479px) {
    .navbar {
        background-color: #b2ffff;
        top: 0;
    }
    header {
        position: fixed;
        width: 100%;
        top: 0;
        background-color: #b2ffff;
    }
}
}